interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/2264823498
  response:
    content: '{"data":{"id":"2264823498","name":"Gjeusel","username":"Gjeusel"}}'
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 83f923bd683a035b8310c7e15fcfc92a292a0fcf7ac508ba6dfecc54470277a2
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1671800937'
      x-response-time:
      - '117'
      x-transaction-id:
      - 6650daaa486d4c68
    status_code: 200
version: 1
