interactions:
- request:
    body: grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.twitter.com/oauth2/token
  response:
    content: '{"token_type": "bearer", "access_token": "fake-access-token"}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Fri, 23 Dec 2022 12:58:58 GMT
      ml:
      - A
      perf:
      - '7626143928'
      status:
      - 200 OK
      x-connection-hash:
      - 6200649697565a9c5d48d51b08d6603e4786d5716921523ded7f1b4825185b19
      x-response-time:
      - '107'
      x-transaction:
      - f0a61a6b8885ac91
      x-transaction-id:
      - f0a61a6b8885ac91
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/by/username/gjeusel
  response:
    content: '{"data":{"id":"2264823498","name":"Gjeusel","username":"Gjeusel"}}'
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 83f923bd683a035b8310c7e15fcfc92a292a0fcf7ac508ba6dfecc54470277a2
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1671800937'
      x-response-time:
      - '116'
      x-transaction-id:
      - 1b7577a708fb9f07
    status_code: 200
version: 1
