interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/tweets/1605264002111643651?tweet.fields=author_id%2Cconversation_id%2Ccreated_at%2Cid%2Ctext&expansions=
  response:
    content: '{"data":{"author_id":"2264823498","text":"@pascalriche @researchremora
      @gjeusel notion map culture","edit_history_tweet_ids":["1605264002111643651"],"created_at":"2022-12-20T18:08:57.000Z","id":"1605264002111643651","conversation_id":"1605102651514970116"}}'
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 83f923bd683a035b8310c7e15fcfc92a292a0fcf7ac508ba6dfecc54470277a2
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '291'
      x-rate-limit-reset:
      - '1671800597'
      x-response-time:
      - '129'
      x-transaction-id:
      - f4d1d1379c7b376f
    status_code: 200
version: 1
